.info-container{
   display: flex;
   
}
p{
   text-align: center;
}
.head{
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}
.btn-burnshedule{
    margin-top: 10px;
    margin-bottom: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   